<link rel="stylesheet" href="/css/home.css" />

<main class="notebook">
  <a href="/contact/new-contact" id="contact">+ Novo contato</a>
  <% if (contacts.length > 0) { %>
  <table class="table">
    <thead>
      <tr>
        <th class="title">Nome</th>
        <th class="title">Número</th>
        <th class="title">E-mail</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% contacts.forEach(contact => { %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.number %></td>
        <td><%= contact.email %></td>
        <td class="edit">
          <a href="/contact/edit/<%= contact._id %>"
            ><img src="/img/edit.svg" alt="Editar contato" />Editar</a
          >
        </td>
        <td class="delete">
          <a href="/contact/delete/<%= contact._id %>"
            ><img src="/img/delete.svg" alt="Excluir contato" /> Excluir</a
          >
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% } else { %>
  <p class="new-contact">Cadastre um novo contato...</p>
  <% } %>
</main>
